<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- my css -->
      <link rel="stylesheet" href="static/css/mobile.css">

      <!-- $$$$$ -->
      <script src="https://code.jquery.com/jquery-latest.js"></script>

      <!-- bootstrap -->
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

      <!-- font-awesome for icons -->
      <link rel="stylesheet" href="static/fa/css/font-awesome.min.css">

      <!-- fonts -->
      <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>

      <!-- typed.js for typing effect -->
      <script src="static/typed/dist/typed.min.js"></script>


        {% block head %}
        <title>{% block title %}{% endblock %}Walter Sagehorn</title>
        {% endblock %}
    </head>

    <body>
        <div id="content" class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
