{% extends "mobile/base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}

<script>
  $(function(){
      $(".titlename").typed({
        strings: ["walter sagehorn"],
        typeSpeed: 30
      });
  });
</script>

{% endblock %}
{% block content %}

<div id="contentcontainer" class="container">
  <span class="titlename"></span>

  <div class="row">
    <div id="resume" class="col-xs-3">
      <a title="check out my resume" href="/resume">
        <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
        <div>resume</div>
      </a>
    </div>
    <div class="spacing col-xs-2"></div>
    <div id="github" class="col-xs-3">
      <a title="view my github profile" href="https://github.com/ig2s4tg">
        <i class="fa fa-github fa-5x" aria-hidden="true"></i>
        <div>github</div>
      </a>
    </div>
  </div>

  <div class="row">
    <div id="linkedin" class="col-xs-3">
      <a title="view my linkedin profile" href="https://www.linkedin.com/in/walter-sagehorn-ab870477">
        <i class="fa fa-fw fa-5x" aria-hidden="true" ></i>
        <div>linkedin</div>
      </a>
    </div>
    <div class="spacing col-xs-2"></div>
    <div id="email" class="col-xs-3">
      <a title="send me an email" href="mailto:wsagehorn+website@gmail.com">
        <i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i>
        <div>email</div>
      </a>
    </div>
  </div>

</div>


{% endblock %}
